#dash
    border-radius: 5px
    .dash-background 
        padding: 7.5px
        border-radius: 15px
        box-shadow: .5px .5px 1px 1px rgba(255, 255, 255, .025)
    .dash-separator 
        width: 1px
        border-radius: 9999px
        background-color: rgba(255, 255, 255, .25)
    .overview-icon
        padding: 7px 5px
        border-radius: 10px
        // background: transparent
    .app-well-app:hover .overview-icon, .show-apps:hover .overview-icon
        box-shadow: 0 0 5px rgba(0, 0, 0, .25)

.dash-label
    border-radius: 2px
    background: rgba(0, 0, 0, .2)
    text-align: center