.window-picker 
    spacing: 6px

.window-caption 
    +label 
    background: rgba(0, 0, 0, .5) 

.window-close
    +btn
    padding: 3px
    height: 22.5px
    width: 22.5px
    StIcon
        icon-size: 22px